footer {
  $footer-background: $black;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  
  @include outer-container; 
  background: $footer-background;
  padding-top: $base-line-height/2;
  padding-bottom: 0;
}

.footer-logo {
  @include span-columns(4);
  @include shift(4);

  @include media($medium-screen) {
    @include span-columns(2);
    @include shift(5);
  }
}

