footer {
  $footer-background: $cocoa;
  $footer-color: $dry-ice;
  $footer-link-color: transparentize($footer-color, .6);
  
  @include row;
  width: 100%;
  background: $footer-background;
  padding-top: $base-line-height/4;
  margin-bottom: 0;
  border-top: solid 4px $base-border-color;

}

.addendum {
  @include row;
  @include span-columns(10);
  @include shift(1);
  font-size: $base-font-size / 1.375;
  line-height: $base-font-size;
  color: $dry-ice;
  text-align: center;
}

