// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: 'Lato', $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1.2rem;
$base-line-height: $base-font-size * 1.618;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$dry-ice: #F0F0D8;
$effervescence: #E2FF9E;
$juice: #C4ED68;
$pucker: #9ED54C;
$lime: #59A80F;

$creamy-cat: #F1E9BB;
$lamp-shade: #F3C363;
$go-flow: #CF6123;
$sourstraws: #C92C2C;
$cocoa: #5C483A;

$skinny: #A16447;
$jose: #7A5646;

$yellow: #FFCC91;
$blue: #477DCA;
$black: #222;
$dark-gray: #444;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: $dry-ice;

//  Font Colors
$base-font-color: $cocoa;
$base-accent-color: $pucker;

//  Text Link Colors
$base-link-color: $lime;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $lime;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Buttons
$button-style: simple;
